body {
    font-family: 'Lato', sans-serif;
}
main > div{
    padding-top: 80px;
    padding-bottom: 80px;
}
.number{
    display: inline-block;
    padding: 1px 7px;
    border-radius: 50%;
    position: absolute;
    right: 223px;
    top: 16px;
    background-color: #f68d7d;
}
#top_header {
    background: url("../images/bg-slide.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 996px;
}
.slide{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    text-align: center;
}


.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover{
    background: transparent;
    color: #f68d7d;
    text-decoration: underline;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    transition: all 0.4s;
    font-weight: bold;
    line-height: 50px;
    padding: 0 23px;
}
.navbar-nav>.active>a:focus {
    color: #f68d7d;
    outline: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
}
ul.navbar-nav li i:before{
    font-size: 24px;
}
#top_header .navbar-inner{
    margin-top: 26px;
}
.navbar-header{
    width: 25%;
    margin-top: -5px;
}
a.logo {
    padding: 0;
    max-width: 100%;
    width: 100%;
}
a.logo > img{
    max-width: 100%; 
    height: auto; 
    margin-top: 3px;
}
.navbar{
    z-index:3;
    margin-bottom: 0px;
    min-height: 96px;	
}
nav {
    z-index: 2;
}
.navbar-default {
    background-color: #656056;
    border-radius: 0px;
    border: none;
}
.navbar-collapse{
    float: right;
    padding-right: 0
}
.dropdown-menu{
    width: 707px !important;
    max-width: 707px !important;
    z-index: 3;
    padding: 20px !important;
    display: block !important;
    opacity:0;
    visibility: hidden;
}
.dropdown-menu .header-box > a{
    overflow: hidden;
    height: 150px;
    width: 100%;
}
.dropdown-menu .header-box > a:before{
    left: 0;
    right: 0;
}
.open>.dropdown-menu{
    opacity:1;
    visibility: visible;
}
.dropdown-menu span.comming-soon{
    width: 120px !important;
    padding: 30px 0 !important;
    top: 20% !important;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
    background: transparent;
    color: #f68d7d;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
#demo{
    background: #e6e7e8;
    background-size: cover;
    padding-bottom: 68px;
}
#demo1{
    background: #e8e2d4;
    background-size: cover;
    padding-bottom: 68px;
}

#demo1 .media {
    margin-top: 50px;
    max-height: 175px;
}

#demo1 .media .media-left {
    padding-right: 0;
}

#demo1 .media .media-body {
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}
#demo1 .media .media-body .media-heading {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

#demo1 .media .media-body p {
    text-align: left;
}

#demo1 .media img{max-width: none}
#slider_layout .gallery-border{
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    background: #ead4d1;
    padding: 14px;
}
#slider_layout .gallery-cell{
    padding-top: 16px;
    padding-bottom: 12px;
}
#slider_layout .gallery-cell:nth-child(3n+1){clear: left}
#slider_layout .gallery-cell a:before{
    content: '';
    background: rgba(0,0,0,0.6);
    opacity: 0.2;
    position: absolute;
    transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    left: 15px;
    right: 15px;
    bottom: 15px;
    top: 15px;
    display: block;
}
.header-box:hover > a > span{
    opacity: 1;
}

#slider_layout .gallery-cell a:hover:before{
	opacity: 0.6;
}
span.comming-soon{
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    color: #1c81c5 !important;
    padding: 65px 0!important;
    background: transparent !important;
    width: 150px;
    max-width: 150px !important;
    top: 40% !important;
}
#slider_layout .gallery-cell span.visit-demo,
.header-box > a > span{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    font-size: 14px;
    text-transform: capitalize;
    background:#f68d7d;
    border: 1px solid #f68d7d;
    padding: 5px 10px;
    color: #fff;
    font-weight: 500;
    z-index: 10;
    right: 0;
    max-width: 110px;
    display: block; 
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
#slider_layout .gallery-cell:hover span{
    opacity: 1;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
}
.clearfix {
    clear: both;
}
.special{color: #666666 !important}
p.desc {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #666666;
}
.media-left > a, 
.product-left > a{
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.product-left > a:hover{
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg); 
}
#personal-service{
    background: url("../images/bg-service.jpg") center no-repeat;
    padding-bottom: 0;
}
#personal-service  h2{margin-top: 34px; margin-bottom: 12px; color: #444444;}
#personal-service div > a{
    color: #ffffff;
    border: 1px solid #f68d7d;
    padding: 10px 26px 10px 15px;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    background: #f68d7d;
    border-radius: 30px;
}
#personal-service div > a:hover{color: #ffffff;background: #f89e90}
.right-service a > span{padding-left: 17px}
#testimonial{padding-bottom: 150px}
#testimonial .gallery-cell p{font-size: 16px; color: #080b14;}
#testimonial .gallery-cell p:not(.testimonial-by) {
    font-weight: 300;
    margin: 0 auto;
    padding-bottom: 43px;
    width: 80%;
}
#testimonial .gallery-cell p.testimonial-by {
    font-size: 18px;
}
#testimonial .gallery-cell p.testimonial-by > span:first-child {
    font-weight: 700;
}
#testimonial .gallery-cell p.testimonial-by > span:last-child {
    font-weight: 300;
}
#testimonial .flickity-page-dots {
    bottom: -47px;
}
p.copy-right{
    font-size: 16.02px;
    color: #444;
    padding-top: 23px;
    padding-bottom: 10px;
}
p.copy-right a{
    text-decoration: none;
    color:#f68d7d;
}
.back-to-top {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    background: #f68d7d;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
}
.back-to-top:hover {
    background: #f89e90;
    color: #fff;
}
.buy-now a,
.printshop-footer a{
    color: #ffffff;
    transition: all .3s;
    font-size: 18px;
    text-decoration: none; 
    border-radius: 10px;
    padding: 12px 30px;
    position: relative; 
    background: #f68d7d;
    z-index: 2;
    font-weight: normal;
    margin-left: -4px;
}
.buy-now a:hover, 
.printshop-footer a:hover{
    color: #fff;
    background: #f89e90;
    font-weight: normal;
}
.printshop-footer a{
    border: 1px solid #f68d7d;
    color: #f68d7d;

}
.printshop-footer a:hover{
    background: #f89e90;
    color: #fff;
}
.p-slide {
    color: #444;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 40px;
    text-transform: uppercase;
    margin-top: 10px;
}
img{
    max-width: 100%;
    height: auto;
    
}

.core_value .col-md-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.core_value .bg-core-value {
    background-color: #f5f6f8;
    min-height: 120px;
}

.core_value .icon {
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
}

.core_value .icon .core-icon {
    margin: auto;
    display: block;
    background: url(../images/core-value.png) no-repeat;
    height: 70px;
    position: relative;
    background-color: transparent;
    border-radius: 50px;
}

.core_value .icon .ci-1 {
    background-position-x: -40px;
    background-position-y: 0;
}

.core_value .icon .ci-2 {
    background-position-x: -240px;
    background-position-y: 0;
}

.core_value .icon .ci-3 {
    background-position-x: -440px;
    background-position-y: 0;
}

.core_value .icon .ci-4 {
    background-position-x: -640px;
    background-position-y: 0;
}

.core_value .icon .ci-5 {
    background-position-x: -834px;
    background-position-y: 0;
}
.core_value .icon .ci-6 {
    background-position-x: -1037px;
    background-position-y: 0;
}

.core_value .icon .ci-7 {
    background-position-x: -40px;
    background-position-y: -135px;
}

.core_value .icon .ci-8 {
    background-position-x: -240px;
    background-position-y: -135px;
}
.core_value .icon .ci-9 {
    background-position-x: -440px;
    background-position-y: -135px;
}
.core_value .icon .ci-10 {
    background-position-x: -640px;
    background-position-y: -135px;
}
.core_value .icon .ci-11 {
    background-position-x: -834px;
    background-position-y: -135px;
}
.core_value .icon .ci-12 {
    background-position-x: -1037px;
    background-position-y: -135px;
}

.core_value .icon .ci-13 {
    background-position-x: -40px;
    background-position-y: -270px;
}
.core_value .icon .ci-14 {
    background-position-x: -240px;
    background-position-y: -270px;
}
.core_value .icon .ci-15 {
    background-position-x: -440px;
    background-position-y: -270px;
}
.core_value .icon .ci-16 {
    background-position-x: -640px;
    background-position-y: -270px;
}
.core_value .icon .ci-17 {
    background-position-x: -834px;
    background-position-y: -270px;
}
.core_value .icon .ci-18 {
    background-position-x: -1037px;
    background-position-y: -270px;
}


.core_value .icon .ci-19 {
    background-position-x: -40px;
    background-position-y: -400px;
}

.core_value .icon .ci-20 {
    background-position-x: -240px;
    background-position-y: -400px;
}

.core_value .icon .ci-21 {
    background-position-x: -440px;
    background-position-y: -400px;
}

.core_value .icon .ci-22 {
    background-position-x: -640px;
    background-position-y: -400px;
}

.core_value .icon .ci-23 {
    background-position-x: -834px;
    background-position-y: -400px;
}

.core_value .icon .ci-24 {
    background-position-x: -1037px;
    background-position-y: -400px;
}

.core_value .content {
    padding: 0 10px;
}

.core_value .content p{
    text-align: center;
    font-weight: bold;
}

p{
    color: #666;
    font-size: 14.06px; 
    font-weight: 400;
    line-height: 20px;
}
#demo .col-md-4:nth-child(3n+1){
    clear: left;
}

#demo .text-desc {
    font-size: 16px;
}

.header-box{
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: 0 0;
    position: relative;
    transition: all 5s ease-out;
    -webkit-transition: all 5s ease-out;
    -moz-transition: all 5s ease-out;
    -ms-transition: all 5s ease-out;
    -o-transition: all 5s ease-out;
}
.header-box:hover {
    background-position: 0 100%;
}
.header-box.democ1a {
    background-image: url("../images/home1.jpg");
}
.header-box.democ1b {
    background-image: url("../images/home2.jpg");
}
.header-box.democ1c {
    background-image: url("../images/home3.jpg");
}
.header-box > a:hover:before{
    opacity: 0.8;
}
.header-box > a:before{
    content: '';
    background: rgba(0,0,0,0.6);
    opacity: 0.2;
    position: absolute;
    height: 100%;
    transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    left: 0px;
    right: 0px;
    display: block;
}

#demo .col-sm-4 > p{
    font-size: 16px; 
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    text-align: center;
}
#demo .col-sm-4 > p > a{
    text-decoration: none; 
    color: #666666;
}
#myNavbar .header-box{
    height: 150px;
}
#myNavbar .header-box > a > span{
    font-size: 13px;
}
#myNavbar .col-xs-4 > p > a{
    color: #999;
    text-transform: none;
    text-decoration: none;
}
#myNavbar .col-xs-4 > p{
    margin: 20px 0 25px;
    font-size: 16px; 
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    text-align: center;
}
.font-bold{
    font-weight: bold;
    font-size: 18px;
}
.printshop-footer {
    background: #fcf1d6;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 391px;
    position: relative;
}
.printshop-footer a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 58%;
    text-decoration: none;
}
.printshop-footer img{
    position: absolute;
	width: 670px;
    left: 50%;
    transform: translateX(-50%);
    top: 27.5%;
}
#slider_testimonial .gallery-cell {
    width: 100%;
}
.flickity-page-dots .dot{
    background: #999999;
    border: 2px solid  rgba(0, 0 ,0, 0.18);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0 5px;
}
#myNavbar{
    float: left !important;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-left: 0;
}
#personal-service .row.text-center{
    position: relative;
}

.right-service {
    padding-bottom: 132px;
    text-align: center;
}

.right-service .desc {
    margin-bottom: 29px;
}
#demo h2, #demo p{
    color: #444444;
}
.number-demo {
    background: #f68d7d none repeat scroll 0 0;
    color: #fff;
    font-size: 29.94px;
    font-weight: 700;
    padding: 1px 14px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.demo-title{
    text-transform: uppercase;
    padding: 11px 20px;
    text-align: center;
}
.demo-title a{
    color: #444444;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}
.gallery-cell > .gallery-border > a {
    display: block;
    height: 267px;
    overflow: hidden;
	box-shadow:0px 2px 10px rgba(153,153,153, 0.35);
	-webkit-box-shadow: 0px 2px 10px rgba(153,153,153, 0.35);
	-moz-box-shadow:0px 2px 10px rgba(153,153,153, 0.35);
}
#demo .header-box p{
    margin: 25px 0 -18px !important
}
.flickity-page-dots {
    bottom: -37px;
}
.flickity-page-dots .dot{
    border: 2px solid #d1d1d1 !important;
    background: #999999 none repeat scroll 0 0 !important;
    opacity: 1
}
.flickity-page-dots .dot.is-selected{
    background: #f68d7d!important;
    border: 2px solid  rgba(0, 0 ,0, 0.18);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 15px;
    width: 15px;
}
#testimonial p.desc{
    padding-bottom: 55px;
}
#personal-service p.desc{
    padding-bottom: 16px;
}
#personal-service div > a{
    display: inline-block;
}
.printshop-footer a {
    font-size: 18.38px;
    font-weight: normal;
    margin-left: -1px;
    padding: 12px 36px;
    color: #ffffff;
    text-transform: uppercase;
}
.core-icon{
    display: block;
    background: url('../images/corevalue.png') no-repeat;
    width: 95px;
    height: 95px;
    position: relative;
    background-color: #f68d7d;
    border-radius: 50px;

}
.core_value .media:nth-child(2n+1) .core-icon{
    left: 8px;
    margin-top: 3px;
    margin-right: 23px;
}
.ci-1{
    background-position: 0 0;
}
.ci-2{
    background-position: 0 -95px;

}
.ci-3{
    background-position: 0 -190px;
}
.ci-4{
    background-position: 0 -285px;
}
.ci-5{
    background-position: 0 -380px;
}

.ci-1b{
    background-position: -95px 0;
    
}
.ci-2b{
    background-position: -95px -95px;
}
.ci-3b{
    background-position: -95px -190px;
}
.ci-4b{
    background-position: -95px -285px;
}
.ci-5b{
    background-position: -95px -380px;
}
@media (max-width: 1199px){
    .number-demo{
        right: 14px;
        top: 16px;
    }
    .gallery-cell > a {
        height: auto;
    }

}
@media (max-width: 991px){
    #slider_layout .gallery-cell:nth-child(2n+1){
        clear: left;
    }
    #slider_layout .gallery-cell:nth-child(3n+1){
        clear: none;
    }
    .nav>li>a{
        padding: 10px 10px;
    }

    h2 {
        font-size: 30px;
        line-height: 41px;
    }
    #personal-service h2 {
        color: #666666;

        margin-bottom: 12px;
        margin-top: 0;
        padding: 25px 0 0;
    }
    p.desc {
        font-size: 15.93px;
        line-height: 24px;
    }
    #personal-service div > a {
        font-size: 18px;
        padding: 7px 17px 8px 15px;
    }
    .right-service {
        padding-bottom: 96px;
    }
    .right-service {
        padding-bottom: 78px;
    }
    #demo1 .row .col-sm-3{
        min-height: 250px;
    }
    #myNavbar{
        padding-left: 0px;
    }
    .core_value .media:nth-child(odd) .media-left{
        float: left;

    }
    .core_value .media:nth-child(odd) .media-body{
    text-align: left;
    }
    .core_value .media:nth-child(2n+1){
        margin-left: -38px;
    }
}
@media (max-width: 767px){
    main > div{
      padding-top: 40px;
        padding-bottom: 40px;  
    }
    #testimonial h2, #pages h2, #demo h2, #core h2{
        margin-top: 0
    }
    #testimonial {
        padding-bottom: 110px;
    }
    .navbar-collapse{
        float: none;
    }
    .navbar-collapse {
        border-top: 0px;
        background: rgba(0, 0, 0, 0.7);		
    }	
    .navbar-right {
        display: none;
    }
    .navbar-collapse li:not(:last-child) {
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    a.logo{
        width: auto;
    }
    .container>.navbar-header{
        margin-right: 0;
        margin-left: 0;
    }
    a.logo > img{
        width: 70%;
    }
    .dropdown-menu{
        display:none !important;
    }
    .right-service {
        padding: 67px 0 75px;

        margin: 0 auto;
        text-align: center;
    }
    #personal-service h2{
        padding-top: 0;
    }
    #personal-service div > a{
        display: inline-block;;
    }
    .right-service .desc {
        margin-bottom: 0px;
    }
    .testimonial h2{
        margin-top: 0;
    }
    .navbar-header {
        margin-top: 0;
        width: 100%;
    }
    #myNavbar {
        position: relative;
        top: 19px;
        float: none !important;
        font-family: "Roboto",sans-serif;
        font-size: 14px;
        padding-left: 0;
    }
    .demo-title a{
        font-size: 12px;
    }
    #top_header{
        min-height: 650px;
    }
    #demo1 .row .col-sm-3{
        border: 1px solid  #666666; 
        min-height: 200px;
    }
}
@media (max-width: 630px){
    h2{
        font-size: 25px;
    }
    p.desc {
        font-size: 14.93px;
    }
    #core h2 {
        margin-bottom: 5px;
        margin-top: 0;
    }
}
@media (max-width: 600px){
    #demo .row .col-sm-4{
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;

   }
   .header-box{
    max-height: 400px;
   }

}
@media (max-width: 500px){
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    #demo1 .row .col-sm-3{
        width: 100%;
    }
   #demo .row .col-sm-4{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
   }
   #slider_layout .gallery-cell, #slider_layout .gallery-cell img{
       width: 100%;
   }
}

@media (max-width: 450px){
    #top_header .navbar-inner {
        margin-top: 15px;
    }
    .navbar{
        min-height: 80px;
    }
    .core_value .media-left, .media-body {
        float: none !important;
        display: block;
        margin: 0 !important;
        width: 100% !important;
        text-align: center !important;
    }
    .core_value .media-left{
        margin-bottom: 15px !important;
    }
    .core_value .media{
        margin-bottom: 20px !important
    }
    .core_value {
        padding-bottom: 57px !important
    }
    .core-icon{
        position: static;
        margin: 0 auto !important
    }
    .core_value .media:nth-child(2n+1){
    margin-left: -15px;
}
}
@media (max-width: 380px){
   .header-box{
    max-height: 400px;
   }
   #demo .row .col-sm-4{
    padding-left: 15px;
    padding-right: 15px;
   }
}

@media (max-width: 420px){
	#demo1 .media {max-height: none;}
	#demo1 .media-left,#demo1 .media-body{display: block;}
	#demo1 .media-body{overflow: visible; width: auto; padding: 20px}
}
.text-color {
    color: #f68d7d;

}